<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>
</head>

<body>

  <% if(KindofDay === "Saturday" || KindofDay === "Sunday"){ %>
  <h1 style="color: purple">It's a <%= KindofDay %> List </h1>
  <%} else{  %>
  <h1 style="color: blue">It's a <%= KindofDay %> List </h1>
  <%  }%>




</body>
   
</html>
